<div class="container pt-4">
  <div>
    <h1>
      <span class="mr-2 badge badge-success">{{amountPerHour(simulator.totalIncomePerTime)}} $</span>
      <span class="badge badge-danger">{{amountPerHour(simulator.totalExpensesPerTime)}} $</span>
      = {{amountPerHour(simulator.totalIncomePerTime - simulator.totalExpensesPerTime)}} $
    </h1>
  </div>

  <div class="selection">
    <div class="row">
      <div class="col-md-6">
        <h2>Production</h2>
        <div class="items">
          <div class="item" *ngFor="let item of simulator.sales">
            <button class="btn btn-sm btn-outline-secondary" type="button" (click)="more(item)">MORE</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" (click)="less(item)">LESS</button>
            <button class="btn btn-sm btn-outline-danger" type="button"
              (click)="simulator.removeSelection(item.name)">DELETE</button>
            <div>
              <strong>{{amountPerHour(item.amountPerTime)}} {{item.name}}</strong>
              <span class="ml-1 badge badge-success">{{amountPerHour(item.valuePerTime)}} $</span>
            </div>
            <div *ngFor="let n of item.needs">{{amountPerHour(n.amountPerTime)}} {{n.item}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Purchases</h2>
        <div class="items">
          <div class="item" *ngFor="let item of simulator.purchase">
            <button class="btn btn-sm btn-outline-secondary" type="button" (click)="buyMore(item)">MORE</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" (click)="buyLess(item)">LESS</button>
            <button class="btn btn-sm btn-outline-danger" type="button"
              (click)="simulator.removePurchase(item.name)">DELETE</button>
            <div>
              <strong>{{amountPerHour(item.amountPerTime)}} {{item.name}}</strong>
              <span class="ml-1 badge badge-danger">{{amountPerHour(item.valuePerTime)}} $</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Sell item</label>
          <div class="input-group">
            <select class="custom-select" [(ngModel)]="saleItem">
              <option *ngFor="let i of simulator.items" [ngValue]="i">{{ i?.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-primary" [disabled]="!saleItem" (click)="addSale()">ADD</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Buy item</label>
          <div class="input-group">
            <select class="custom-select" [(ngModel)]="buyItem">
              <option *ngFor="let i of simulator.items" [ngValue]="i">{{ i?.name }}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-primary" [disabled]="!buyItem" (click)="addBuy()">ADD</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="factories">
    <div class="factory">
      {{simulator.numberOfFactories}} Factories (<strong>{{renderNumber(simulator.factories.workload * 100)}}
        %</strong>)
      <div *ngFor="let p of simulator.factories.production">
        {{amountPerHour(p.amountPerTime)}} x {{p.item}}: {{renderNumber(p.workload * 100)}} %
      </div>
    </div>
  </div>

  <div class="shops">
    <div class="shop" *ngFor="let shop of simulator.shops" [ngClass]="{'overload': shop.workload > 1}">
      {{ shop.name }} (<strong>{{renderNumber(shop.workload * 100)}} %</strong>)
      <div *ngFor="let p of shop.production">
        {{amountPerHour(p.amountPerTime)}} x {{p.item}}: {{renderNumber(p.workload * 100)}} %
      </div>
    </div>
  </div>


</div>
